<template>
  <div id="app" class="container-fluid">
    <div class="row">
      <form
        class="col-md-6 col-sm-12"
        @submit.prevent="openPdfInTab"
        @input="updatePreview"
      >
        <div class="form-group">
          <label v-t="'Language'" for="language" />
          <select
            id="language"
            v-model="$i18n.locale"
            class="form-control"
            @change="onLocaleChange()"
          >
            <option v-t="'English'" value="en" />
            <option v-t="'French'" value="fr" />
          </select>
        </div>
        <div class="form-group">
          <label v-t="'Sender\'s name'" for="sender-name" />
          <input id="sender-name" v-model="senderName" class="form-control" />
        </div>
        <div class="form-group">
          <label v-t="'Sender\'s address'" for="sender-address" />
          <textarea
            id="sender-address"
            v-model="senderAddress"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label v-t="'Recipient\'s name'" for="recipient-name" />
          <input
            id="recipient-name"
            v-model="recipientName"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label v-t="'Recipient\'s address'" for="recipient-address" />
          <textarea
            id="recipient-address"
            v-model="recipientAddress"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label v-t="'Greeting'" for="greeting" />
          <input id="greeting" v-model="greeting" class="form-control" />
        </div>
        <div class="form-group">
          <label v-t="'Body'" for="body" />
          <textarea id="body" v-model="body" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label v-t="'Closing'" for="closing" />
          <input id="closing" v-model="closing" class="form-control" />
        </div>
        <div class="btn-group" role="group">
          <input
            type="button"
            class="btn btn-secondary"
            :value="$t('Download pdf')"
            @click.prevent="downloadPdf"
          />
          <input
            type="submit"
            :value="$t('Open pdf in tab')"
            class="btn btn-primary"
          />
        </div>
        <div class="form-group">
          <label
            v-t="'File name'"
            for="pdf-file-name"
            class="col-form-label-sm"
          />
          <input
            id="pdf-file-name"
            v-model="pdfFileName"
            :placeholder="$t('document.pdf')"
            class="form-control form-control-sm"
          />
        </div>
      </form>
      <div
        class="col-md-6 col-sm-12"
        :style="{ minHeight: previewHeight + 'px' }"
      >
        <iframe :src="previewSrc" style="width: 100%; height: 100%" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import FileSaver from "file-saver";
import { buildPdfURL } from "./PdfTools";
import { fillPdfLetter } from "./PdfLetter";

export default defineComponent({
  data() {
    return {
      senderName: this.$t("John Doe") as string,
      senderAddress: this.$t("105 rue des lilas\n33000 Bordeaux") as string,
      recipientName: this.$t("Bob Dane") as string,
      recipientAddress: this.$t("1 infinite loop\nSan Francisco") as string,
      date: this.buildDate(),
      greeting: this.$t("Hello,") as string,
      body: this.$t(
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      ) as string,
      closing: this.$t("Best regards,") as string,
      pdfFileName: "",
      previewSrc: "about:blank",
      previewHeight: 500,
      locale: this.$i18n.locale,
    };
  },
  beforeMount() {
    this.updatePreviewHeight();
    this.updatePreview();
  },
  async created() {
    window.addEventListener("resize", this.updatePreviewHeight);
  },
  destroyed() {
    window.removeEventListener("resize", this.updatePreviewHeight);
  },
  methods: {
    onLocaleChange() {
      this.date = this.buildDate();
    },
    buildDate(): string {
      return this.$d(new Date(), "long-date", this.$i18n.locale) + ",";
    },
    updatePreviewHeight(): void {
      this.previewHeight = window.innerHeight - 50;
    },
    async updatePreview(): Promise<void> {
      const pdfURL = await this.buildPdfURL();
      URL.revokeObjectURL(this.previewSrc);
      this.previewSrc = pdfURL;
    },
    async openPdfInTab(): Promise<void> {
      const pdfURL = await this.buildPdfURL();
      window.open(pdfURL, "_blank");
      URL.revokeObjectURL(pdfURL);
    },
    async downloadPdf(): Promise<void> {
      const pdfURL = await this.buildPdfURL();
      FileSaver.saveAs(pdfURL, this.getPdfFileName());
      URL.revokeObjectURL(pdfURL);
    },
    async buildPdfURL(): Promise<string> {
      return buildPdfURL((doc) => fillPdfLetter(doc, this));
    },
    getPdfFileName(): string {
      let pdfFileName = this.pdfFileName || (this.$t("document.pdf") as string);
      if (!pdfFileName.endsWith(".pdf")) {
        pdfFileName += ".pdf";
      }
      return pdfFileName;
    },
  },
});
</script>

<style>
#app {
  margin-top: 30px;
}
</style>
